<!--GENERATE-->
<nb-page-dialog [title]="form.controls.id.value !== null ? 'Cập nhật thông tin' : 'Thêm mới'" [width]="25">
	<ng-template #edit>
		<nb-layout-grid>
			<nb-layout-grid-item size="12">
				<nb-text [formCtrl]="form.controls.name" label="Tên" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-text [formCtrl]="form.controls.code" label="Mã" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
      <nb-layout-grid-item size="12">
        <nb-select [formCtrl]="form.controls.module" [dataSource]="modules" label="Phân hệ"
					placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-text [formCtrl]="form.controls.description" label="Mô tả" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-text [formCtrl]="form.controls.parentId" label="Cấp cha" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-checkbox [formCtrl]="form.controls.isShow" label="Hoạt động" placeholder="On/Off" />
			</nb-layout-grid-item>
      <nb-layout-grid-item size="12">
				<nb-text [formCtrl]="form.controls.pathCode" label="Mã phân quyền" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
		</nb-layout-grid>
	</ng-template>
</nb-page-dialog>
