<label class="d-flex align-items-center fs-6 fw-semibold mb-2">Dữ liệu form:</label>
<div class="border border-gray-300 border-dashed rounded min-w-100px w-100 py-2 px-4 me-6 mb-3">
  <span class="fs-6 text-gray-700 fw-bold">{{formControl.controls.typeData.value}}</span>
  @if (formControl.controls.typeData.value === 'CUSTOM') {
    <div class="fw-semibold text-gray-500">{{lst.length}} lựa
    chọn</div>
  }
  <div class="my-1 text-center">
    <a href="javascript:;" (click)="open()">
      @if (formControl.controls.typeData.value === null) {
        <i class="ki-duotone ki-plus fs-2"></i>
      }
      @if (formControl.controls.typeData.value !== null) {
        <i class="ki-duotone ki-pencil fs-2">
          <span class="path1"></span>
          <span class="path2"></span>
        </i>
      }
    </a>
  </div>
</div>

<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap">
        Thông tin dữ liệu
      </span>
    </div>
  </ng-template>
  <div [formGroup]="formControl">
    <div class="mb-10">
      <label class="form-label required">Kiểu dữ liệu</label>
      <select class="form-select form-select-solid" formControlName="typeData">
        <option>Lựa chọn</option>
        <option value="CUSTOM">Thiết lập</option>
        <option value="REFERENCE">Tham chiếu</option>
        <option value="SQL">Lấy từ database</option>
        <option value="API">Lấy từ API hệ thống khác</option>
      </select>
    </div>
    @if (formControl.controls.typeData.value === 'CUSTOM') {
      <div class="table-responsive mb-10">
        <label class="form-label">Bảng giá trị</label>
        <table class="table table-bordered">
          <thead>
            <tr class="fw-bold fs-6 text-gray-800">
              <th scope="col">Tên</th>
              <th scope="col">Giá trị</th>
              <th scope="col">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            @for (item of lst; track item) {
              <tr>
                <td>{{item.name}}</td>
                <td>{{item.value}}</td>
                <td>
                  <a href="javascript:;"
                    class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
                    (click)="removeItem(item)">
                    <i class="ki-duotone ki-trash fs-2">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
                    </i>
                  </a>
                </td>
              </tr>
            }
            <tr [formGroup]="formItemControl">
              <td>
                <input type="text" formControlName="name" class="form-control"
                  placeholder="Nhập thông tin" />
                </td>
                <td>
                  <input type="text" formControlName="value" class="form-control"
                    placeholder="Nhập thông tin" />
                  </td>
                  <td>
                    <a href="javascript:;"
                      class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
                      (click)="addItem()">
                      <i class="ki-duotone ki-plus fs-2">
                      </i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        }
        @if (formControl.controls.typeData.value === 'REFERENCE' || formControl.controls.typeData.value === 'API') {
          <div class="mb-10" [formGroup]="formReferenceControl"
            >
            <div class="mb-10">
              <label class="form-label">Mã nhóm dữ liệu</label>
              <input type="text" class="form-control form-control-solid" placeholder="Nhập thông tin"
                formControlName="code" />
              </div>
              <div class="mb-10">
                <label class="form-label">Sắp xếp theo trường</label>
                <input type="text" class="form-control form-control-solid" placeholder="Nhập thông tin"
                  formControlName="sortField" />
                </div>
                <div class="table-responsive mb-10">
                  <label class="form-label">Trường dữ liệu</label>
                  <table class="table table-bordered">
                    <thead>
                      <tr class="fw-bold fs-6 text-gray-800">
                        <th scope="col">Trường dữ liệu</th>
                        <th scope="col">Trường mapping</th>
                        <th scope="col">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of lstReference; track item) {
                        <tr>
                          <td>{{item.name}}</td>
                          <td>{{item.value}}</td>
                          <td>
                            <a href="javascript:;"
                              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
                              (click)="removeReferenceItem(item)">
                              <i class="ki-duotone ki-trash fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                                <span class="path5"></span>
                              </i>
                            </a>
                          </td>
                        </tr>
                      }
                      <tr>
                        <td>
                          <input type="text" formControlName="name" class="form-control"
                            placeholder="Nhập thông tin" />
                          </td>
                          <td>
                            <input type="text" formControlName="value" class="form-control"
                              placeholder="Nhập thông tin" />
                            </td>
                            <td>
                              <a href="javascript:;"
                                class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
                                (click)="addReferenceItem()">
                                <i class="ki-duotone ki-check-square fs-2">
                                  <span class="path1"></span>
                                  <span class="path2"></span>
                                </i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                }
                @if (formControl.controls.typeData.value === 'SQL') {
                  <div class="mb-10">
                    <label class="form-label">Câu lệnh</label>
                    <textarea class="form-control form-control-solid" placeholder="Nhập thông tin"
                    formControlName="data"></textarea>
                  </div>
                }
              </div>
              <ng-template pTemplate="footer">
                <p-button label="Đóng" [text]="true" severity="secondary" styleClass="mx-3" (click)="visible = false" />
                <p-button label="Lưu thông tin" [outlined]="true" severity="secondary" (click)="save()" />
              </ng-template>
            </p-dialog>
