@if (isLoaded) {
  <div class="radio-container">
    @for (item of items; track item) {
      <div class="radio-item">
        <p-radioButton
          [name]="groupRadioName"
          [value]="item.value"
          [formControl]="formCtrl">
        </p-radioButton>
        <label>{{ item.name }}</label>
      </div>
    }
  </div>
}
<!-- <div *ngIf="isLoaded && (formItem.isReadOnly || readOnly)">{{ getValueReadOnly(formCtrl.value) }}</div> -->
@if (!isLoaded) {
  <div class="form-control form-control-solid text-center" data-kt-indicator="on">
    <span class="indicator-progress">
      <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
    </span>
  </div>
}
