<!--GENERATE-->
<nb-page-dialog [title]="form.controls.id.value !== null ? 'Cập nhật thông tin' : 'Thêm mới'" [width]="25">
	<ng-template #edit>
		<nb-layout-grid>
			<nb-layout-grid-item size="12">
				<nb-number [formCtrl]="form.controls.typeId" label="Loại" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-number [formCtrl]="form.controls.userId" label="Tài khoản" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-text [formCtrl]="form.controls.code" label="Mã" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-text [formCtrl]="form.controls.device" label="Thiết bị" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-checkbox [formCtrl]="form.controls.isShow" label="Trạng thái" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
		</nb-layout-grid>
	</ng-template>
</nb-page-dialog>