<!--GENERATE-->
<nb-page-dialog [title]="form.controls.id.value !== null ? 'Cập nhật thông tin' : 'Thêm mới'" [width]="25">
	<ng-template #edit>
		<nb-layout-grid>
			<nb-layout-grid-item size="12">
				<nb-text [formCtrl]="form.controls.name" label="Tiêu đề" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-text [formCtrl]="form.controls.description" label="Nội dung" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-select [dataSource]="userDS" [formCtrl]="form.controls.userId" label="Tài khoản"
					placeholder="Chọn tài khoản." message="Vui lòng chọn tài khoản" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-number [formCtrl]="form.controls.typeId" label="Loại" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-number [formCtrl]="form.controls.objectId" label="Giá trị" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-number [formCtrl]="form.controls.redirectId" label="Chuyển hướng" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-checkbox [formCtrl]="form.controls.isViewed" label="Đã xem" placeholder="Nhập thông tin" />
			</nb-layout-grid-item>
			<nb-layout-grid-item size="12">
				<nb-checkbox [formCtrl]="form.controls.isShow" label="Trạng thái" placeholder="On/Off" />
			</nb-layout-grid-item>
		</nb-layout-grid>
	</ng-template>
</nb-page-dialog>