<label class="d-flex align-items-center fs-6 fw-semibold mb-2"
  >Điều kiện dữ liệu:</label
  >
  <div
    class="border border-gray-300 border-dashed rounded min-w-100px w-100 py-2 px-4 me-6 mb-3"
    >
    @if (formControl.controls.typeData.value !== null) {
      <span class="fs-6 text-gray-700 fw-bold">Có thông tin</span>
      <div class="fw-semibold text-gray-500">Click để thay đổi</div>
    }
    <div class="my-1 text-center">
      <a href="javascript:;" (click)="open()">
        @if (formControl.controls.typeData.value === null) {
          <i
            class="ki-duotone ki-plus fs-2"
          ></i>
        }
        @if (formControl.controls.typeData.value !== null) {
          <i
            class="ki-duotone ki-pencil fs-2"
            >
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        }
      </a>
    </div>
  </div>

  <p-dialog
    header="Header"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '80rem' }"
    >
    <ng-template pTemplate="header">
      <div class="inline-flex align-items-center justify-content-center gap-2">
        <span class="font-bold white-space-nowrap"> Thông tin dữ liệu </span>
      </div>
    </ng-template>
    <div [formGroup]="formControl">
      <div class="mb-10">
        <label class="form-label required">Kiểu dữ liệu</label>
        <select class="form-select form-select-solid" formControlName="typeData">
          <option>Lựa chọn</option>
          <option value="VALUE">Giá trị{{hasConfig('VALUE') ? ' - Có cấu hình' : ''}}</option>
          <option value="CODE_GENERATE">Mã tự sinh{{hasConfig('CODE_GENERATE') ? ' - Có cấu hình' : ''}}</option>
          <option value="SQL">Database{{hasConfig('SQL') ? ' - Có cấu hình' : ''}}</option>
          <option value="PARAMETER">Tham số{{hasConfig('PARAMETER') ? ' - Có cấu hình' : ''}}</option>
          <option value="CONDITION">Điều kiện{{hasConfig('CONDITION') ? ' - Có cấu hình' : ''}}</option>
          <option value="JSONATA">Xử lý lấy giá trị phức tạp{{hasConfig('JSONATA') ? ' - Có cấu hình' : ''}}</option>
        </select>
      </div>
      @if (formControl.controls.typeData.value === 'VALUE') {
        <div
          class="table-responsive mb-10"
          >
          <label class="form-label mb-10">Thông tin giá trị</label>
          <ng-container
            *ngTemplateOutlet="valueGroupTemp;context: {item: mathValue}"
            />
          </div>
        }

        @if (formControl.controls.typeData.value === 'PARAMETER') {
          <div
            class="table-responsive mb-10"
            >
            <label class="form-label">Bảng tham số</label>
            <table class="table table-bordered">
              <thead>
                <tr class="fw-bold fs-6 text-gray-800">
                  <th scope="col">Tham số</th>
                  <th scope="col">Giá trị</th>
                  <th scope="col">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                @for (item of lstParams; track item) {
                  <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.value}}</td>
                    <td>
                      <a
                        href="javascript:;"
                        class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
                        (click)="removeItem(item)"
                        >
                        <i class="ki-duotone ki-trash fs-2">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                        </i>
                      </a>
                    </td>
                  </tr>
                }
                <tr [formGroup]="formParamControl">
                  <td>
                    <input
                      type="text"
                      formControlName="name"
                      class="form-control"
                      placeholder="Nhập thông tin"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="value"
                        class="form-control"
                        placeholder="Nhập thông tin"
                        />
                      </td>
                      <td>
                        <a
                          href="javascript:;"
                          class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
                          (click)="addParam()"
                          >
                          <i class="ki-duotone ki-check-square fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            }

            @if (formControl.controls.typeData.value === 'CONDITION') {
              <div
                class="table-responsive mb-10"
                >
                <label class="form-label mb-10">Thông tin điều kiện</label>
                <ng-container
                  *ngTemplateOutlet="condGroupTemp;context: {item: conditions}"
                  />
                </div>
              }

              @if (formControl.controls.typeData.value === 'SQL') {
                <div class="mb-10">
                  <label class="form-label">Câu lệnh</label>
                  <textarea
                    class="form-control form-control-solid"
                    placeholder="Nhập thông tin"
                    [(ngModel)]="sql"
                    [ngModelOptions]="{standalone: true}"
                  ></textarea>
                </div>
              }

              @if (formControl.controls.typeData.value === 'JSONATA') {
                <div
                  class="mb-10"
                  >
                  <ng-container *ngTemplateOutlet="jsonataTemp;context: {item: _jsonata}" />
                </div>
              }

              @if (formControl.controls.typeData.value === 'CODE_GENERATE') {
                <div
                  class="mb-10"
                  >
                  <label class="form-label">Quy tắc</label>
                  <input
                    class="form-control form-control-solid"
                    placeholder="Nhập thông tin"
                    [(ngModel)]="codeGenerate"
                    [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                }
              </div>
              <ng-template pTemplate="footer">
                <p-button
                  label="Đóng"
                  [text]="true"
                  severity="secondary"
                  styleClass="mx-3"
                  (click)="visible = false"
                  />
                  <p-button
                    label="Lưu thông tin"
                    [outlined]="true"
                    severity="secondary"
                    (click)="save()"
                    />
                  </ng-template>
                </p-dialog>
                <ng-template #jsonataTemp let-item="item">
                  <label class="form-label">Logic</label>
                  <textarea
                    class="form-control form-control-solid"
                    placeholder="Nhập thông tin"
                    [(ngModel)]="_jsonata.transform"
                  ></textarea>
                  <label class="form-label">Trường phụ thuộc</label>
                  <input
                    class="form-control form-control-solid"
                    placeholder="Nhập thông tin"
                    [(ngModel)]="_jsonata.dependent"
                    />
                  </ng-template>
                  <ng-template #valueGroupTemp let-item="item" let-parent="parent">
                    <div class="border border-dashed border-gray-300 rounded px-7 py-3 mb-5">
                      <div class="row">
                        <div class="col-6">
                          <div class="btn-group mb-5">
                            @for (math of maths; track math) {
                              <label
                                class="btn btn-outline btn-color-muted btn-active-primary"
                                [class.active]="item.mathGroup === math.value"
                                >
                                <input
                                  class="btn-check"
                                  type="radio"
                                  [value]="math.value"
                                  [(ngModel)]="item.mathGroup"
                                  />
                                  {{math.name}}
                                </label>
                              }
                            </div>
                          </div>
                          <div class="col-6 text-end">
                            <a
                              href="javascript:;"
                              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px mx-2"
                              (click)="addMath(item)"
                              >
                              <i class="ki-duotone ki-plus fs-2"></i>
                            </a>
                            <a
                              href="javascript:;"
                              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px mx-2"
                              (click)="addMathGroup(item)"
                              >
                              <i class="ki-duotone ki-element-plus fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                                <span class="path5"></span>
                              </i>
                            </a>
                            @if (parent !== undefined) {
                              <a
                                href="javascript:;"
                                class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px mx-2"
                                (click)="removeMathGroup(item, parent)"
                                >
                                <i class="ki-duotone ki-trash fs-2">
                                  <span class="path1"></span>
                                  <span class="path2"></span>
                                  <span class="path3"></span>
                                  <span class="path4"></span>
                                  <span class="path5"></span>
                                </i>
                              </a>
                            }
                          </div>
                        </div>
                        @for (rule of item.rules; track rule) {
                          <ng-container
                            *ngTemplateOutlet="rule.mathGroup !== undefined ? valueGroupTemp : valueTemp;context: {item: rule, parent: item}"
                            />
                          }
                        </div>
                      </ng-template>

                      <ng-template #valueTemp let-item="item" let-parent="parent">
                        <div class="border border-dashed border-gray-300 rounded px-3 py-3 mb-5">
                          <div class="input-group mb-5">
                            <p-autoComplete
                              [(ngModel)]="item.field"
                              [suggestions]="lstAutoFields"
                              [dropdown]="true"
                              placeholder="Trường thông tin"
                              (completeMethod)="search($event)"
                              inputStyleClass="form-control"
                              [inputStyle]="{'border-radius': 0}"
                              (onSelect)="select($event, item)"
                              />
                              <select class="form-select" [(ngModel)]="item.math">
                                <option>Phép toán</option>
                                @for (math of fieldMaths; track math) {
                                  <option
                                    [value]="math.value"
                                    >
                                    {{math.name}}
                                  </option>
                                }
                              </select>
                              <a
                                href="javascript:;"
                                class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px mx-2"
                                (click)="removeMath(item, parent)"
                                >
                                <i class="ki-duotone ki-trash fs-2">
                                  <span class="path1"></span>
                                  <span class="path2"></span>
                                  <span class="path3"></span>
                                  <span class="path4"></span>
                                  <span class="path5"></span>
                                </i>
                              </a>
                            </div>
                          </div>
                        </ng-template>

                        <ng-template #condGroupTemp let-item="item" let-parent="parent">
                          <div class="border border-dashed border-gray-300 rounded px-7 py-3 mb-5">
                            <div class="row">
                              <div class="col-6">
                                <div class="btn-group mb-5">
                                  <label
                                    class="btn btn-outline btn-color-muted btn-active-primary"
                                    [class.active]="item.condition === 'and'"
                                    >
                                    <input
                                      class="btn-check"
                                      type="radio"
                                      value="and"
                                      [name]="item.name"
                                      [(ngModel)]="item.condition"
                                      />
                                      AND
                                    </label>
                                    <label
                                      class="btn btn-outline btn-color-muted btn-active-primary"
                                      [class.active]="item.condition === 'or'"
                                      >
                                      <input
                                        class="btn-check"
                                        type="radio"
                                        value="or"
                                        [name]="item.name"
                                        [(ngModel)]="item.condition"
                                        />
                                        OR
                                      </label>
                                    </div>
                                  </div>
                                  <div class="col-6 text-end">
                                    <a
                                      href="javascript:;"
                                      class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px mx-2"
                                      (click)="addCondition(item)"
                                      >
                                      <i class="ki-duotone ki-plus fs-2"></i>
                                    </a>
                                    <a
                                      href="javascript:;"
                                      class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px mx-2"
                                      (click)="addConditionGroup(item)"
                                      >
                                      <i class="ki-duotone ki-element-plus fs-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                      </i>
                                    </a>
                                    @if (parent !== undefined) {
                                      <a
                                        href="javascript:;"
                                        class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px mx-2"
                                        (click)="removeConditionGroup(item, parent)"
                                        >
                                        <i class="ki-duotone ki-trash fs-2">
                                          <span class="path1"></span>
                                          <span class="path2"></span>
                                          <span class="path3"></span>
                                          <span class="path4"></span>
                                          <span class="path5"></span>
                                        </i>
                                      </a>
                                    }
                                  </div>
                                </div>
                                @for (rule of item.rules; track rule) {
                                  <ng-container
                                    *ngTemplateOutlet="rule.condition !== undefined ? condGroupTemp : condTemp;context: {item: rule, parent: item}"
                                    />
                                  }
                                </div>
                              </ng-template>

                              <ng-template #condTemp let-item="item" let-parent="parent">
                                <div class="border border-dashed border-gray-300 rounded px-3 py-3 mb-5">
                                  <div class="input-group mb-5">
                                    <p-autoComplete
                                      [(ngModel)]="item.field"
                                      [suggestions]="lstAutoFields"
                                      [dropdown]="true"
                                      placeholder="Trường thông tin"
                                      (completeMethod)="search($event)"
                                      inputStyleClass="form-control"
                                      [inputStyle]="{'border-radius': 0}"
                                      (onSelect)="select($event, item)"
                                      />
                                      <select class="form-select" [(ngModel)]="item.operator">
                                        <option>Toán tử</option>
                                        @for (operator of operators; track operator) {
                                          <option
                                            [value]="operator.value"
                                            >
                                            {{operator.name}}
                                          </option>
                                        }
                                      </select>
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Giá trị"
                                        [(ngModel)]="item.value"
                                        />
                                        <a
                                          href="javascript:;"
                                          class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px mx-2"
                                          (click)="removeCondition(item, parent)"
                                          >
                                          <i class="ki-duotone ki-trash fs-2">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                            <span class="path5"></span>
                                          </i>
                                        </a>
                                      </div>
                                    </div>
                                  </ng-template>
