<!--GENERATE-->
<nb-page-list [service]="service" [formFilter]="formFilter">
	<nb-table-col header="Id" field="id"></nb-table-col>
	<nb-table-col header="Mã" field="code"></nb-table-col>
	<nb-table-col header="Tên" field="name"></nb-table-col>
	<nb-table-col header="Ngày tạo" field="dateCreated"></nb-table-col>
	<nb-table-col header="Ngày sửa" field="dateUpdated"></nb-table-col>
	<nb-table-col header="Trạng thái" field="isShow"></nb-table-col>
    <app-resource-edit [parentCode]="parentCode" edit />
    <app-resource-detail [parentCode]="parentCode" detail />
    <ng-container filter />
</nb-page-list>