<label class="d-flex align-items-center fs-6 fw-semibold mb-2">Kiểm tra dữ liệu:</label>
<div class="border border-gray-300 border-dashed rounded min-w-100px w-100 py-2 px-4 me-6 mb-3">
	<ng-container *ngIf="numberValidate > 0">
		<span class="fs-6 text-gray-700 fw-bold">Có</span>
		<div class="fw-semibold text-gray-500">{{numberValidate}} điều kiện</div>
	</ng-container>
	<div class="my-1 text-center">
		<a href="javascript:;" (click)="open()">
			<i class="ki-duotone ki-plus fs-2" *ngIf="numberValidate === 0"></i>
			<i class="ki-duotone ki-pencil fs-2" *ngIf="numberValidate > 0">
				<span class="path1"></span>
				<span class="path2"></span>
			</i>
		</a>
	</div>
</div>

<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }">
	<ng-template pTemplate="header">
		<div class="inline-flex align-items-center justify-content-center gap-2">
			<span class="font-bold white-space-nowrap">
				Điều kiện dữ liệu
			</span>
		</div>
	</ng-template>
	<div class="table-responsive mb-10">
		<label class="form-label">Bảng thông tin</label>
		<table class="table table-bordered">
			<thead>
				<tr class="fw-bold fs-6 text-gray-800">
					<th scope="col">Tên</th>
					<th scope="col">Giá trị</th>
					<th scope="col">Thao tác</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of validateData">
					<td>{{item.name}}</td>
					<td *ngIf="item.code !== 'expression'">
						<input type="text" class="form-control" placeholder="Nhập thông tin" [(ngModel)]="item.value" />
					</td>
          <td *ngIf="item.code === 'expression'">
						<textarea rows="4" class="form-control" placeholder="Nhập thông tin" [(ngModel)]="item.value"></textarea>
					</td>
					<td>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" [(ngModel)]="item.enable" />
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<ng-template pTemplate="footer">
		<p-button label="Đóng" [text]="true" severity="secondary" styleClass="mx-3" (click)="visible = false" />
		<p-button label="Lưu thông tin" [outlined]="true" severity="secondary" (click)="save()" />
	</ng-template>
</p-dialog>
